In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA

In [2]:
data = pd.read_csv('loan_borowwer_data.csv')
data.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [3]:
data.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [4]:
data.shape

(9578, 14)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [6]:
lbl = LabelEncoder()
data['purpose'] = lbl.fit_transform(data['purpose'])
print(data)

      credit.policy  purpose  int.rate  installment  log.annual.inc    dti  \
0                 1        2    0.1189       829.10       11.350407  19.48
1                 1        1    0.1071       228.22       11.082143  14.29
2                 1        2    0.1357       366.86       10.373491  11.63
3                 1        2    0.1008       162.34       11.350407   8.10
4                 1        1    0.1426       102.92       11.299732  14.97
...             ...      ...       ...          ...             ...    ...
9573              0        0    0.1461       344.76       12.180755  10.39
9574              0        0    0.1253       257.70       11.141862   0.21
9575              0        2    0.1071        97.81       10.596635  13.09
9576              0        4    0.1600       351.58       10.819778  19.18
9577              0        2    0.1392       853.43       11.264464  16.28

      fico  days.with.cr.line  revol.bal  revol.util  inq.last.6mths  \
0      737        5639.958333      28854        52.1               0
1      707        2760.000000      33623        76.7               0
2      682        4710.000000       3511        25.6               1
3      712        2699.958333      33667        73.2               1
4      667        4066.000000       4740        39.5               0
...    ...                ...        ...         ...             ...
9573   672       10474.000000     215372        82.1               2
9574   722        4380.000000        184         1.1               5
9575   687        3450.041667      10036        82.9               8
9576   692        1800.000000          0         3.2               5
9577   732        4740.000000      37879        57.0               6

      delinq.2yrs  pub.rec  not.fully.paid
0               0        0               0
1               0        0               0
2               0        0               0
3               0        0               0
4               1        0               0
...           ...      ...             ...
9573            0        0               1
9574            0        0               1
9575            0        0               1
9576            0        0               1
9577            0        0               1

[9578 rows x 14 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   int32
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int32(1), int64(7)
memory usage: 1010.3 KB

In [8]:
x = data.drop('not.fully.paid', axis = 1)
y = data['not.fully.paid']

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [32]:
rf = RandomForestClassifier(n_estimators = 100, criterion = 'gini', max_depth = 3)
rf.fit(x_train, y_train)

RandomForestClassifier(max_depth=3)

In [33]:
y_pred = rf.predict(x_test)
print('Accuracy is:', accuracy_score(y_test, y_pred))

Accuracy is: 0.8418580375782881

In [34]:
y_pred = rf.predict(x_train)
print('Accuracy is:', accuracy_score(y_train, y_pred))

Accuracy is: 0.8394675019577134

In [17]:
features=pd.DataFrame({'Features':x_train.columns,'Importance':np.round(rf.feature_importances_,3)})
features=features.sort_values('Importance',ascending=False)
features

             Features  Importance
2            int.rate       0.276
0       credit.policy       0.179
10     inq.last.6mths       0.170
6                fico       0.125
9          revol.util       0.055
1             purpose       0.049
3         installment       0.042
4      log.annual.inc       0.031
7   days.with.cr.line       0.027
8           revol.bal       0.021
5                 dti       0.017
11        delinq.2yrs       0.004
12            pub.rec       0.004

In [39]:
pca = PCA(n_components = 0.95)
sc = StandardScaler()

In [41]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data.values)
print(scaled_data)

[[ 0.49222226  0.03317632 -0.13931753 ... -0.29973008 -0.23700318
  -0.43652393]
 [ 0.49222226 -0.55966463 -0.57886837 ... -0.29973008 -0.23700318
  -0.43652393]
 [ 0.49222226  0.03317632  0.48648368 ... -0.29973008 -0.23700318
  -0.43652393]
 ...
 [-2.03160257  0.03317632 -0.57886837 ... -0.29973008 -0.23700318
   2.29082517]
 [-2.03160257  1.2188582   1.39166043 ... -0.29973008 -0.23700318
   2.29082517]
 [-2.03160257  0.03317632  0.61685894 ... -0.29973008 -0.23700318
   2.29082517]]

In [44]:
sklearn_pca = PCA(n_components=0.95)

In [45]:
reduced_data = sklearn_pca.fit_transform(data.values)
print(reduced_data)

[[ 11957.42071363]
 [ 16675.7608658 ]
 [-13398.39176753]
 ...
 [ -6896.205763  ]
 [-16958.52019627]
 [ 20965.79035894]]

In [46]:
print(data.shape)
print(reduced_data.shape)

(9578, 14)
(9578, 1)

In [47]:
x_train_pca = pca.fit_transform(x_train)
x_test_pca = pca.transform(x_test)

In [50]:
lr = LogisticRegression()
lr.fit(x_train_pca,y_train)

LogisticRegression()

In [51]:
y_pred = lr.predict(x_test_pca)
print('Accuracy:', accuracy_score(y_test,y_pred))

Accuracy: 0.8418580375782881

In [52]:
y_pred = lr.predict(x_train_pca)
print('Accuracy:', accuracy_score(y_train,y_pred))

Accuracy: 0.8394675019577134